In [1]:
import xml.etree.cElementTree as ET
import os
import nltk
import string
import random
import pandas as pd
from pandas import DataFrame

NOTE: The following functions, although used for generating train / test datasets, are left in here so the test files can be generated if needed.

### Get the files for parsing

### Define function to get tokens & their attributes

In [2]:
def spans(text):
    tokens = nltk.word_tokenize(text.lower())
    offset = 0
    start_indices = []
    end_indices = []
    for token in tokens:
        offset = text.find(token, offset)
        start, end = offset, offset+len(token)
        offset += len(token)
        start_indices.append(start)
        end_indices.append(end)
    return tokens, start_indices, end_indices

### Define function to generate IO Coding (Model2)

IO coding is a technique for extracting entities, where in the input sentence is tokenized and analyzed for occurences of words that belong to an entity of interest.  It follows the following scheme:

* I - marks beginning/inside of the entity
* O - marks that the token is NOT part of any entity

In [3]:
def Generate_IO_Coding(file_path, tag, attribute):
    """
    Function defined to take in a file for processing, tag and attributes to identify
    within the file (xml).  The tags are first read into objects, capturing the label,
    start and end values.  These are references in the 'text' object, where based on
    which the annotators did identify the tag in context. 
    
    This information is used to parse through the text (as tokens) and perform the BIO
    coding based on the start position matches.
    
    Input: 
    file_path: path of the file to be read in for processing
    tag: tag, as identified in the annotation.  Ex: DIABETES, HYPERTENSION etc.
    attribute: specific attribute within the tag, from which to extract the value from
    
    Returns: 
    list of tokens, list of labels (IO coding)
    """
    
    tree = ET.ElementTree(file=file_path)
    root = tree.getroot()

    text = root.find('TEXT').text.lower()
    
    tokens, start, end = spans(text)
    labels_list = []
    label_start = []
    label_end = []
    filename = []


    for item in root.find("TAGS"):
        if item.tag  == tag:
            label = (item.tag + "." + item.attrib[attribute]).lower().replace(" ", "_")
        else:
            label = ""

        for sub_item in item.findall(item.tag):
            if 'start' in sub_item.attrib.keys():
                labels_list.append(label)
                label_start.append(int(sub_item.attrib['start']))
                label_end.append(int(sub_item.attrib['end']))

    bio_labels = []

    count = 0
    while len(start) > count:
        if start[count] in label_start:
            label_start_index = label_start.index(start[count])
            end_index = label_end[label_start_index]
            word_label = labels_list[label_start_index]
            phrase = text[start[count]:end_index]
            phrase_tokens = nltk.word_tokenize(phrase)
            # update the tag to 'I-' so that this generates IO-Coding
            next_tag="I-"
            for word in phrase_tokens:
                if (len(word_label) > 0):
                    new_label = next_tag + word_label
                    bio_labels.append(new_label)
                    next_tag="I-"
                else:
                    bio_labels.append("O")
                count += 1
        else:
            bio_labels.append("O")
            count += 1 

    # build this list to hold name of the file the token belongs to
    # this is for the purpose of evaluation of the model from test results
    for i in range(0, len(tokens)):
        filename.append(file_path)
        
    return filename, tokens, bio_labels

In [4]:
def getIOCoding_data(tag, attrib, filenames):

    """
    All files in the list (which holds the list of files in the directory) are parsed through
    and the Generate_BIO_Coding function is called by passing individual files within the folder.
    
    The tags and attributes are passed on to the function as parameters.
    
    Input: 
    filenames: names of the file to be read in for processing in a list object
    tag: tag, as identified in the annotation.  Ex: DIABETES, HYPERTENSION etc. (string)
    attribute: specific attribute within the tag, from which to extract the value from (string)
    
    Returns: 
    list of tokens, list of labels (BIO coding, done across all files in the path for the tag/attribute)
    """
    
    test_tokens = []
    test_labels = []
    test_filenames = []

    for file in filenames:
        #print("processing file ... ", file)
        filename, tokens, labels = Generate_IO_Coding(file_path=file, tag=tag, attribute=attrib)

        test_tokens.extend(tokens)
        test_labels.extend(labels)
        test_filenames.extend(filename)  # this is for the purpose of validating test results
        

    return test_filenames, test_tokens, test_labels

### Form Test Data

In the script in cell below, we have chosen the test xml files that start with '11'.  This is just to do a sample prediction against the model built using BERT as classifier.

The condition should be removed to generate / test the complete set across all XML files in the 'testing' folder.

In [5]:
# set to the appropriate folder on your local drive
wd = os.path.dirname(os.path.abspath('__file__'))
datafolder = ["\\Dataset\\testing-RiskFactors-Complete\\"]
#print (datafolder)

testfilenames = []

for folder in datafolder:
    for file in os.listdir(str(wd)+folder):
        filename = os.fsdecode(os.fsencode((str(wd)+folder+file)))
        if filename.endswith( ('.xml') ): # select xml files
            #print(filename)
            testfilenames.append(filename)

### Get Test Tokens for 'Hypertension' (to test bert output)

In [7]:
# get data for model #5
tag = 'HYPERTENSION'
attribute = 'indicator'

test_hypertension_indicator_filenames, test_hypertension_indicator_tokens, test_hypertension_indicator_labels = getIOCoding_data(tag, attribute, testfilenames)
#hypertension_indicator_labels

In [8]:
# capture data into dataframe to work with it
test_df_hypertension = pd.DataFrame({'filename': test_hypertension_indicator_filenames, 'test_token': test_hypertension_indicator_tokens, 'test_label': test_hypertension_indicator_labels})

In [9]:
# actual counts of labels in test set for hypertension mention and high_bp
test_df_hypertension['test_label'].value_counts()

O                         380524
I-hypertension.high_bp       733
I-hypertension.mention       696
Name: test_label, dtype: int64

#### Run counts for Diabetes in TEST Set

In [6]:
# get data for model #5
tag = 'DIABETES'
attribute = 'indicator'

test_diabetes_indicator_filenames, test_diabetes_indicator_tokens, test_diabetes_indicator_labels = getIOCoding_data(tag, attribute, testfilenames)
#diabetes_indicator_labels

In [13]:
# capture data into dataframe to work with it
test_df_diabetes = pd.DataFrame({'filename': test_diabetes_indicator_filenames, 'test_token': test_diabetes_indicator_tokens, 'test_label': test_diabetes_indicator_labels})

In [8]:
# actual counts of labels in test set for diabetes mention, glucose and a1c
test_df_diabetes['test_label'].value_counts()

O                     380126
I-diabetes.mention      1140
I-diabetes.a1c           431
I-diabetes.glucose       256
Name: test_label, dtype: int64

### Value Counts of Labels from BERT Classifier

Value counts of labels from BERT classifier (manually obtained from test_results file which holds probabilities for each class) is obtained as below.

In [52]:
def get_filename(fullpath):
    return fullpath.replace("C:\\Users\\sudha\\Documents\\W266-NLP\\Final-Project-W266\\Code\\Dataset\\testing-RiskFactors-Complete\\", "")

In [62]:
def compare_with_bert_results(tag, attribute, testfilenames):
    # get data for model #5

    
    test_filenames, test_tokens, test_labels = getIOCoding_data(tag, attribute, testfilenames)
    
    # capture data into dataframe to work with it
    test_df = pd.DataFrame({'filename': test_filenames, 'test_token': test_tokens, 'test_label': test_labels})

    print("\nThe value counts by labels: ", test_df['test_label'].value_counts(), "\n\n")
    
    #number of labels for the tag / attribute
    num_labels = (test_df['test_label'].unique()).shape[0]
    
    tdf = test_df
    tdf['file'] = tdf['filename'].apply(get_filename)
    tdf.drop('filename', 1, inplace=True)
    #print(tdf.head(10))


    file_path="bert_output_results/"+tag.lower()+"/test_results.tsv"
    bert_results = pd.read_csv(file_path, sep='\t',header=None)

    class_list=[]
    for i in range(0,num_labels):
        class_list.append("Class-"+str(i))
        
    # set the column names for the dataframe that holds BERT output
    bert_results.columns=class_list
    bert_results['classLabel'] = bert_results.idxmax(axis=1)
    #print("BERT Results: \n", bert_results.head(10))
    print("\nBERT Results value counts by labels: ", bert_results['classLabel'].value_counts(), "\n\n")
    
    test_combined = pd.concat([tdf, bert_results['classLabel']], axis=1)
    
    return test_combined

In [63]:
# get results for DIABETES - Indicator
tag = 'HYPERTENSION'
attribute = 'indicator'

df_combined = compare_with_bert_results(tag, attribute, testfilenames)

The value counts by labels:  O                         380524
I-hypertension.high_bp       733
I-hypertension.mention       696
Name: test_label, dtype: int64



BERT Results value counts by labels:  Class-2    380916
Class-1       785
Class-0       252
Name: classLabel, dtype: int64

In [64]:
df_combined.head(10)

   test_token test_label        file classLabel
0      record          O  110-01.xml    Class-2
1        date          O  110-01.xml    Class-2
2           :          O  110-01.xml    Class-2
3  2069-04-07          O  110-01.xml    Class-2
4         mr.          O  110-01.xml    Class-2
5    villegas          O  110-01.xml    Class-2
6          is          O  110-01.xml    Class-2
7        seen          O  110-01.xml    Class-2
8       today          O  110-01.xml    Class-2
9           .          O  110-01.xml    Class-2

In [65]:
# get results for DIABETES - Indicator
tag = 'CAD'
attribute = 'indicator'

df_combined = compare_with_bert_results(tag, attribute, testfilenames)

The value counts by labels:  O                377903
I-cad.test         1937
I-cad.event        1220
I-cad.mention       563
I-cad.symptom       330
Name: test_label, dtype: int64



BERT Results value counts by labels:  Class-4    381706
Class-1       242
Class-0         4
Name: classLabel, dtype: int64

In [66]:
df_combined.head(10)

   test_token test_label        file classLabel
0      record          O  110-01.xml    Class-4
1        date          O  110-01.xml    Class-4
2           :          O  110-01.xml    Class-4
3  2069-04-07          O  110-01.xml    Class-4
4         mr.          O  110-01.xml    Class-4
5    villegas          O  110-01.xml    Class-4
6          is          O  110-01.xml    Class-4
7        seen          O  110-01.xml    Class-4
8       today          O  110-01.xml    Class-4
9           .          O  110-01.xml    Class-4

In [67]:
df_combined[df_combined['classLabel'] != 'Class-4']

             test_token     test_label        file classLabel
1118               with              O  110-04.xml    Class-1
2998                 of              O  111-04.xml    Class-1
3085                  ,              O  111-04.xml    Class-1
7908                  ,              O  113-04.xml    Class-1
8414                  ,              O  113-05.xml    Class-1
8646                  )              O  113-05.xml    Class-1
20283   non-obstructive              O  118-05.xml    Class-1
21597                5.              O  118-05.xml    Class-1
26225          brother-              O  130-04.xml    Class-1
38848             known              O  134-04.xml    Class-1
38872             known              O  134-04.xml    Class-1
39304                 ;              O  134-04.xml    Class-1
39312                 ;              O  134-04.xml    Class-1
39652             known              O  134-04.xml    Class-1
39867              with              O  134-05.xml    Class-1
40253                1.              O  134-05.xml    Class-1
40724              with              O  134-05.xml    Class-1
42288                of  I-cad.mention  135-01.xml    Class-1
42835               h/o              O  135-02.xml    Class-1
45469               for              O  135-04.xml    Class-1
48992                 ,              O  136-04.xml    Class-1
49002                 ,              O  136-04.xml    Class-1
50027                 ,              O  136-05.xml    Class-1
50030                 :              O  136-05.xml    Class-1
58080                 :              O  139-02.xml    Class-1
58258                 )              O  139-02.xml    Class-1
59408                 )              O  139-04.xml    Class-1
65300            likely  I-cad.mention  161-04.xml    Class-1
65871               3-v              O  161-05.xml    Class-1
67468              with              O  162-04.xml    Class-1
...                 ...            ...         ...        ...
223603               w/              O  260-05.xml    Class-1
223806                ,              O  262-01.xml    Class-1
225112                ?              O  262-02.xml    Class-1
226552      significant              O  262-03.xml    Class-1
231189               of  I-cad.mention  264-03.xml    Class-1
236087             both              O  266-03.xml    Class-1
236324              and              O  266-04.xml    Class-1
236655              and              O  266-04.xml    Class-1
244958                )              O  269-04.xml    Class-1
245072              his              O  269-04.xml    Class-1
257565               of              O  313-03.xml    Class-1
269778               to              O  317-01.xml    Class-1
288770                ,              O  342-02.xml    Class-1
289505                ,              O  342-02.xml    Class-1
289588              for              O  342-02.xml    Class-1
289670                ,              O  342-02.xml    Class-1
289764                ,              O  342-02.xml    Class-1
289991              and              O  342-02.xml    Class-1
314981        including              O  371-04.xml    Class-1
316120        including  I-cad.mention  371-05.xml    Class-1
317523               of              O  372-02.xml    Class-1
317768                ?              O  372-02.xml    Class-1
318399               of              O  372-03.xml    Class-1
319684               of              O  372-04.xml    Class-1
327359                /              O  374-02.xml    Class-1
327450               of              O  374-02.xml    Class-1
328806             with              O  374-03.xml    Class-1
346869                :              O  379-05.xml    Class-1
380469                ,              O  389-03.xml    Class-1
381952            07736              O  389-04.xml        NaN

[247 rows x 4 columns]

In [68]:
df_combined[1110:1125]

     test_token     test_label        file classLabel
1110          .              O  110-04.xml    Class-4
1111    history              O  110-04.xml    Class-4
1112         of              O  110-04.xml    Class-4
1113    present              O  110-04.xml    Class-4
1114    illness              O  110-04.xml    Class-4
1115         71              O  110-04.xml    Class-4
1116         yo              O  110-04.xml    Class-4
1117          m              O  110-04.xml    Class-4
1118       with              O  110-04.xml    Class-1
1119        cad  I-cad.mention  110-04.xml    Class-4
1120          ,              O  110-04.xml    Class-4
1121        s/p    I-cad.event  110-04.xml    Class-4
1122       cabg    I-cad.event  110-04.xml    Class-4
1123          x    I-cad.event  110-04.xml    Class-4
1124          4    I-cad.event  110-04.xml    Class-4

### Running manual count checks

In [14]:
test_df_diabetes.head(2)

                                            filename test_token test_label
0  C:\Users\sudha\Documents\W266-NLP\Final-Projec...     record          O
1  C:\Users\sudha\Documents\W266-NLP\Final-Projec...       date          O

### Test LABELS for TOKENS in TEST Dataset against BERT Outputs

BERT Classifier has returned results for the tokens passed in 'test.tsv' file.  The returned values are probabilities, that need to be converted into equivalent class labels based on majority class.  Then, the class label should be compared against the actual label from the code above to extract the IO-Coding from the xml files.  This is a brute-force approach or a manual way of verifying the validity of the predictions

Read in results from BERT Predicitons to the above dataset
The above dataset is derived from IO-Coding applied as done on the training set. This is what should be based on the annotation process. Nowe, we have to read in the predictions from bert, which is a set of class probabilities across all 3 classes and we have to merget that with the above dataset for comparison and error analysis.

In [34]:
# read in the test results captured for BERT Hypertension model and specify columns as the actual file has no header
bert_DI_results = pd.read_csv("bert_output_results/diabetes/test_results.tsv", sep='\t',header=None)
bert_DI_results.columns=["Class0", "Class1", "Class2", "Class3"]

In [35]:
bert_DI_results.head()

     Class0    Class1    Class2    Class3
0  0.000039  0.000019  0.000012  0.999930
1  0.000040  0.000019  0.000012  0.999929
2  0.000040  0.000019  0.000011  0.999929
3  0.000039  0.000019  0.000012  0.999930
4  0.000039  0.000019  0.000012  0.999930

In [36]:
bert_DI_results['classLabel'] = bert_DI_results.idxmax(axis=1)

bert_DI_results.head(5)

     Class0    Class1    Class2    Class3 classLabel
0  0.000039  0.000019  0.000012  0.999930     Class3
1  0.000040  0.000019  0.000012  0.999929     Class3
2  0.000040  0.000019  0.000011  0.999929     Class3
3  0.000039  0.000019  0.000012  0.999930     Class3
4  0.000039  0.000019  0.000012  0.999930     Class3

In [37]:
bert_DI_results['classLabel'].value_counts()

Class3    380636
Class2      1316
Name: classLabel, dtype: int64

In [38]:
def DI_set_labels(classlabel):
    if (classlabel=='Class0'):
        return 'I-diabetes.a1c'
    elif (classlabel=='Class1'):
        return 'I-diabetes.glucose'
    elif (classlabel=='Class2'):
        return 'I-diabetes.mention'
    else:
        return 'O'

In [39]:
bert_DI_results['PredictedLabel'] = bert_DI_results['classLabel'].apply(DI_set_labels)
bert_DI_results.drop('classLabel', 1, inplace=True)


bert_DI_results.head(10)

     Class0    Class1    Class2    Class3 PredictedLabel
0  0.000039  0.000019  0.000012  0.999930              O
1  0.000040  0.000019  0.000012  0.999929              O
2  0.000040  0.000019  0.000011  0.999929              O
3  0.000039  0.000019  0.000012  0.999930              O
4  0.000039  0.000019  0.000012  0.999930              O
5  0.000040  0.000019  0.000012  0.999929              O
6  0.000039  0.000019  0.000012  0.999930              O
7  0.000045  0.000020  0.000014  0.999922              O
8  0.000041  0.000019  0.000013  0.999927              O
9  0.000230  0.000040  0.000196  0.999534              O

In [40]:
# validating the counts by label
bert_DI_results['PredictedLabel'].value_counts()

test_DI_combined = pd.concat([tdf, bert_DI_results['PredictedLabel']], axis=1)

In [41]:
test_DI_combined[test_DI_combined['test_label']!='O']

,test_token,test_label,file,PredictedLabel
621,niddm,I-diabetes.mention,110-03.xml,O
718,diabetes,I-diabetes.mention,110-03.xml,I-diabetes.mention
719,mellitus,I-diabetes.mention,110-03.xml,I-diabetes.mention
720,type,I-diabetes.mention,110-03.xml,O
721,2,I-diabetes.mention,110-03.xml,O
1080,dm,I-diabetes.mention,110-03.xml,O
1332,diabetes,I-diabetes.mention,110-04.xml,I-diabetes.mention
1333,mellitus,I-diabetes.mention,110-04.xml,I-diabetes.mention
1334,type,I-diabetes.mention,110-04.xml,O
1335,2,I-diabetes.mention,110-04.xml,O
1985,insulin,I-diabetes.mention,111-01.xml,O
1986,dependent,I-diabetes.mention,111-01.xml,I-diabetes.mention
1987,diabetes,I-diabetes.mention,111-01.xml,I-diabetes.mention
1988,mellitus,I-diabetes.mention,111-01.xml,O
1989,",",I-diabetes.mention,111-01.xml,O
2225,diabetes,I-diabetes.mention,111-02.xml,O
2464,180.,I-diabetes.glucose,111-02.xml,O
2738,diabetes,I-diabetes.mention,111-03.xml,O
3084,diabetes,I-diabetes.mention,111-04.xml,O
3270,glucose,I-diabetes.glucose,111-04.xml,O
3271,420.,I-diabetes.glucose,111-04.xml,O
7911,diabetes,I-diabetes.mention,113-04.xml,O
7912,",",I-diabetes.mention,113-04.xml,O
8623,dm,I-diabetes.mention,113-05.xml,O
9397,dm-,I-diabetes.mention,113-05.xml,O
11259,fsbg,I-diabetes.glucose,114-04.xml,O
11260,&,I-diabetes.glucose,114-04.xml,O
11261,gt,I-diabetes.glucose,114-04.xml,O
11262,;,I-diabetes.glucose,114-04.xml,O
11263,500.,I-diabetes.glucose,114-04.xml,O
...,...,...,...,...
376087,diabetes,I-diabetes.mention,388-01.xml,I-diabetes.mention
376088,mellitus,I-diabetes.mention,388-01.xml,O
376089,.,I-diabetes.mention,388-01.xml,O
376511,non-insulin-dependent,I-diabetes.mention,388-02.xml,I-diabetes.mention
376512,diabetes,I-diabetes.mention,388-02.xml,I-diabetes.mention
376513,mellitus,I-diabetes.mention,388-02.xml,O
376697,adult-onset,I-diabetes.mention,388-03.xml,I-diabetes.mention
376698,diabetes,I-diabetes.mention,388-03.xml,O
376864,diabetes,I-diabetes.mention,388-03.xml,O
376904,hemoglobin,I-diabetes.a1c,388-03.xml,O
376905,a1c,I-diabetes.a1c,388-03.xml,O
376906,10.6.,I-diabetes.a1c,388-03.xml,O
377216,diabetes,I-diabetes.mention,388-03.xml,O
377505,insulin,I-diabetes.mention,388-04.xml,O
377506,dependent,I-diabetes.mention,388-04.xml,O
377507,diabetic,I-diabetes.mention,388-04.xml,O
377934,dm,I-diabetes.mention,388-04.xml,O
378113,insulin,I-diabetes.mention,388-05.xml,O
378114,dependent,I-diabetes.mention,388-05.xml,O
378115,diabetic,I-diabetes.mention,388-05.xml,O
378480,dm,I-diabetes.mention,388-05.xml,O
378876,dm2,I-diabetes.mention,389-02.xml,O
379232,dm2,I-diabetes.mention,389-02.xml,O
379899,dm2,I-diabetes.mention,389-02.xml,O
380019,dm,I-diabetes.mention,389-03.xml,O
380359,dm2,I-diabetes.mention,389-03.xml,O
381089,aodm,I-diabetes.mention,389-04.xml,O
381216,dm2,I-diabetes.mention,389-04.xml,O
381803,aodm,I-diabetes.mention,389-04.xml,O
381905,diabetes,I-diabetes.mention,389-04.xml,O

In [42]:
test_DI_combined[test_DI_combined['PredictedLabel']!='O']

,test_token,test_label,file,PredictedLabel
620,with,O,110-03.xml,I-diabetes.mention
717,hyperlipidemia,O,110-03.xml,I-diabetes.mention
718,diabetes,I-diabetes.mention,110-03.xml,I-diabetes.mention
719,mellitus,I-diabetes.mention,110-03.xml,I-diabetes.mention
1079,bradycardia,O,110-03.xml,I-diabetes.mention
1331,hyperlipidemia,O,110-04.xml,I-diabetes.mention
1332,diabetes,I-diabetes.mention,110-04.xml,I-diabetes.mention
1333,mellitus,I-diabetes.mention,110-04.xml,I-diabetes.mention
1986,dependent,I-diabetes.mention,111-01.xml,I-diabetes.mention
1987,diabetes,I-diabetes.mention,111-01.xml,I-diabetes.mention
2224,and,O,111-02.xml,I-diabetes.mention
2737,of,O,111-03.xml,I-diabetes.mention
3083,",",O,111-04.xml,I-diabetes.mention
7910,",",O,113-04.xml,I-diabetes.mention
8622,ms,O,113-05.xml,I-diabetes.mention
9396,),O,113-05.xml,I-diabetes.mention
10064,this,O,114-01.xml,I-diabetes.mention
10723,cell,O,114-03.xml,I-diabetes.mention
11959,underlying,O,114-04.xml,I-diabetes.mention
12599,like,O,115-01.xml,I-diabetes.mention
13124,",",O,115-03.xml,I-diabetes.mention
13211,),O,115-04.xml,I-diabetes.mention
13212,diabetes,I-diabetes.mention,115-04.xml,I-diabetes.mention
13255,problems,O,115-04.xml,I-diabetes.mention
13256,diabetes,I-diabetes.mention,115-04.xml,I-diabetes.mention
13265,.,O,115-04.xml,I-diabetes.mention
14154,problem,O,115-04.xml,I-diabetes.mention
15305,dependent,I-diabetes.mention,116-03.xml,I-diabetes.mention
16658,),O,117-01.xml,I-diabetes.mention
16659,diabetes,I-diabetes.mention,117-01.xml,I-diabetes.mention
...,...,...,...,...
374949,diabetes,I-diabetes.mention,387-03.xml,I-diabetes.mention
375300,",",O,387-04.xml,I-diabetes.mention
375417,history,O,387-04.xml,I-diabetes.mention
375861,her,O,388-01.xml,I-diabetes.mention
375981,dependent,I-diabetes.mention,388-01.xml,I-diabetes.mention
375982,diabetes,I-diabetes.mention,388-01.xml,I-diabetes.mention
376086,dependent,I-diabetes.mention,388-01.xml,I-diabetes.mention
376087,diabetes,I-diabetes.mention,388-01.xml,I-diabetes.mention
376372,non-,O,388-02.xml,I-diabetes.mention
376373,insulin-dependent,O,388-02.xml,I-diabetes.mention
376510,1.,O,388-02.xml,I-diabetes.mention
376511,non-insulin-dependent,I-diabetes.mention,388-02.xml,I-diabetes.mention
376512,diabetes,I-diabetes.mention,388-02.xml,I-diabetes.mention
376696,has,O,388-03.xml,I-diabetes.mention
376697,adult-onset,I-diabetes.mention,388-03.xml,I-diabetes.mention
376863,of,O,388-03.xml,I-diabetes.mention
377215,.,O,388-03.xml,I-diabetes.mention
377933,reviwed,O,388-04.xml,I-diabetes.mention
378479,rx,O,388-05.xml,I-diabetes.mention
378875,",",O,389-02.xml,I-diabetes.mention
379231,),O,389-02.xml,I-diabetes.mention
379373,",",O,389-02.xml,I-diabetes.mention
379898,.,O,389-02.xml,I-diabetes.mention
380018,",",O,389-03.xml,I-diabetes.mention
380358,aspirin,O,389-03.xml,I-diabetes.mention
381088,",",O,389-04.xml,I-diabetes.mention
381215,aspirin,O,389-04.xml,I-diabetes.mention
381802,",",O,389-04.xml,I-diabetes.mention
381904,3.,O,389-04.xml,I-diabetes.mention
381952,07736,O,389-04.xml,NaN

In [43]:
test_DI_combined[2220:2230]

        test_token          test_label        file      PredictedLabel
2220             a                   O  111-02.xml                   O
2221       history                   O  111-02.xml                   O
2222            of                   O  111-02.xml                   O
2223  hypertension                   O  111-02.xml                   O
2224           and                   O  111-02.xml  I-diabetes.mention
2225      diabetes  I-diabetes.mention  111-02.xml                   O
2226           who                   O  111-02.xml                   O
2227      presents                   O  111-02.xml                   O
2228          with                   O  111-02.xml                   O
2229         fever                   O  111-02.xml                   O

In [47]:
test_DI_combined[376900:376910]

         test_token      test_label        file PredictedLabel
376900            .               O  388-03.xml              O
376901  cholesterol               O  388-03.xml              O
376902          was               O  388-03.xml              O
376903         315.               O  388-03.xml              O
376904   hemoglobin  I-diabetes.a1c  388-03.xml              O
376905          a1c  I-diabetes.a1c  388-03.xml              O
376906        10.6.  I-diabetes.a1c  388-03.xml              O
376907          the               O  388-03.xml              O
376908      patient               O  388-03.xml              O
376909          has               O  388-03.xml              O

In [45]:
test_DI_combined[3080:3090]

        test_token          test_label        file      PredictedLabel
3080       history                   O  111-04.xml                   O
3081             :                   O  111-04.xml                   O
3082  hypertension                   O  111-04.xml                   O
3083             ,                   O  111-04.xml  I-diabetes.mention
3084      diabetes  I-diabetes.mention  111-04.xml                   O
3085             ,                   O  111-04.xml                   O
3086           cad                   O  111-04.xml                   O
3087             ,                   O  111-04.xml                   O
3088           and                   O  111-04.xml                   O
3089    peripheral                   O  111-04.xml                   O

In [46]:
test_DI_combined[2460:2470]

     test_token          test_label        file PredictedLabel
2460        the                   O  111-02.xml              O
2461      blood                   O  111-02.xml              O
2462      sugar                   O  111-02.xml              O
2463         is                   O  111-02.xml              O
2464       180.  I-diabetes.glucose  111-02.xml              O
2465        the                   O  111-02.xml              O
2466      white                   O  111-02.xml              O
2467      count                   O  111-02.xml              O
2468         is                   O  111-02.xml              O
2469     normal                   O  111-02.xml              O

#### Checking I-hypertension.mention labels

In [16]:
tdf[75:85]
# bert output predicted I-hypertension.mention for token in position 78

            test_token              test_label        file
75            atenolol                       O  110-01.xml
76                 for                       O  110-01.xml
77        hypertension  I-hypertension.mention  110-01.xml
78                 and                       O  110-01.xml
79                   1                       O  110-01.xml
80  hydroxychloroquine                       O  110-01.xml
81              tablet                       O  110-01.xml
82                   .                       O  110-01.xml
83                  he                       O  110-01.xml
84                  is                       O  110-01.xml

In [17]:
tdf[710:715]
# bert output predicted I-hypertension.mention for token in position 712

    test_token              test_label        file
710  arthritis                       O  110-03.xml
711        htn  I-hypertension.mention  110-03.xml
712      right                       O  110-03.xml
713    carotid                       O  110-03.xml
714     artery                       O  110-03.xml

In [18]:
tdf[1990:2000]
# bert output predicted I-hypertension.mention for token in position 1991

               test_token              test_label        file
1990         hypertension  I-hypertension.mention  111-01.xml
1991                    .                       O  111-01.xml
1992          medications                       O  111-01.xml
1993                    :                       O  111-01.xml
1994              zestril                       O  111-01.xml
1995                    ,                       O  111-01.xml
1996                zocor                       O  111-01.xml
1997                    ,                       O  111-01.xml
1998  hydrochlorothiazide                       O  111-01.xml
1999                    ,                       O  111-01.xml

In [19]:
tdf[3080:3090]
# bert output predicted I-hypertension.mention for token in position 3083

        test_token              test_label        file
3080       history                       O  111-04.xml
3081             :                       O  111-04.xml
3082  hypertension  I-hypertension.mention  111-04.xml
3083             ,                       O  111-04.xml
3084      diabetes                       O  111-04.xml
3085             ,                       O  111-04.xml
3086           cad                       O  111-04.xml
3087             ,                       O  111-04.xml
3088           and                       O  111-04.xml
3089    peripheral                       O  111-04.xml

In [20]:
tdf[6720:6730]
# bert output predicted I-hypertension.mention for token in position 6726

        test_token              test_label        file
6720          also                       O  113-02.xml
6721           has                       O  113-02.xml
6722             a                       O  113-02.xml
6723       history                       O  113-02.xml
6724            of                       O  113-02.xml
6725  hypertension  I-hypertension.mention  113-02.xml
6726           who                       O  113-02.xml
6727           has                       O  113-02.xml
6728          been                       O  113-02.xml
6729  experiencing                       O  113-02.xml

#### Checking I-hypertension.high_bp labels

In [21]:
tdf[445:455]
# bert output predicted I-hypertension.high_bp for token in position 451

         test_token              test_label        file
445  well-appearing                       O  110-02.xml
446            male                       O  110-02.xml
447               .                       O  110-02.xml
448           blood                       O  110-02.xml
449        pressure                       O  110-02.xml
450          142/74  I-hypertension.high_bp  110-02.xml
451               .  I-hypertension.high_bp  110-02.xml
452           chest                       O  110-02.xml
453           clear                       O  110-02.xml
454               .                       O  110-02.xml

In [22]:
tdf[790:800]
# bert output predicted I-hypertension.high_bp for token in position 794

    test_token              test_label        file
790         59                       O  110-03.xml
791         bp  I-hypertension.high_bp  110-03.xml
792          :  I-hypertension.high_bp  110-03.xml
793     158/72  I-hypertension.high_bp  110-03.xml
794         rr                       O  110-03.xml
795          :                       O  110-03.xml
796         20                       O  110-03.xml
797        sat                       O  110-03.xml
798          :                       O  110-03.xml
799         97                       O  110-03.xml

In [23]:
tdf[2360:2370]
# bert output predicted I-hypertension.high_bp for token in position 2366

     test_token              test_label        file
2360    include                       O  111-02.xml
2361          a                       O  111-02.xml
2362      blood                       O  111-02.xml
2363   pressure                       O  111-02.xml
2364         of                       O  111-02.xml
2365     179/85  I-hypertension.high_bp  111-02.xml
2366          ,                       O  111-02.xml
2367          a                       O  111-02.xml
2368      pulse                       O  111-02.xml
2369         of                       O  111-02.xml

In [24]:
tdf[12570:12580]
# bert output predicted I-hypertension.high_bp for token in position 12574 and 12576

      test_token              test_label        file
12570      blood                       O  115-01.xml
12571   pressure                       O  115-01.xml
12572          :                       O  115-01.xml
12573     150/86  I-hypertension.high_bp  115-01.xml
12574          ,                       O  115-01.xml
12575     148/84  I-hypertension.high_bp  115-01.xml
12576          .                       O  115-01.xml
12577      pulse                       O  115-01.xml
12578        78.                       O  115-01.xml
12579      perrl                       O  115-01.xml

In [25]:
tdf[18405:18418]
# bert output predicted I-hypertension.high_bp for token in position 18415

      test_token              test_label        file
18405         in                       O  118-01.xml
18406       past                       O  118-01.xml
18407          .                       O  118-01.xml
18408         er                       O  118-01.xml
18409          :                       O  118-01.xml
18410       97.6                       O  118-01.xml
18411          ,                       O  118-01.xml
18412         77                       O  118-01.xml
18413          ,                       O  118-01.xml
18414     161/84  I-hypertension.high_bp  118-01.xml
18415          ,  I-hypertension.high_bp  118-01.xml
18416         20                       O  118-01.xml
18417          ,                       O  118-01.xml

### Extract Labeling by XML File

Using the dataset captured above, extract information on the count of I-hypertension.mention and I-hypertension.high_bp tags in each of the files passed in test dataset and map them to the corresponding TAG and INDICATOR values.  This gives a high level counts of the tags identified in each of the files included in the test data.  This will be useful for error analysis and should be a base point for constructing the tags and start/end points if needed.

In [26]:
tdf.groupby(['file', 'test_label']).count()

                                   test_token
file       test_label
110-01.xml I-hypertension.mention           1
           O                              333
110-02.xml I-hypertension.high_bp           2
           I-hypertension.mention           1
           O                              250
110-03.xml I-hypertension.high_bp           3
           I-hypertension.mention           1
           O                              510
110-04.xml I-hypertension.mention           1
           O                              787
111-01.xml I-hypertension.mention           1
           O                              292
111-02.xml I-hypertension.high_bp           1
           I-hypertension.mention           1
           O                              506
111-03.xml O                              239
111-04.xml I-hypertension.high_bp           2
           I-hypertension.mention           2
           O                              453
112-01.xml O                              402
112-02.xml O                              516
112-03.xml O                              524
112-04.xml I-hypertension.mention           1
           O                              364
112-05.xml I-hypertension.high_bp           2
           O                              406
113-01.xml I-hypertension.mention           1
           O                              333
113-02.xml I-hypertension.mention           2
           O                              914
...                                       ...
115-04.xml O                             1264
116-01.xml I-hypertension.high_bp           2
           O                              389
116-02.xml O                              367
116-03.xml O                              296
116-04.xml O                              489
116-05.xml O                              517
117-01.xml I-hypertension.high_bp           3
           I-hypertension.mention           2
           O                              498
117-02.xml I-hypertension.high_bp           3
           I-hypertension.mention           3
           O                             1194
118-01.xml I-hypertension.high_bp           3
           I-hypertension.mention           3
           O                              793
118-02.xml I-hypertension.mention           1
           O                              432
118-03.xml O                              257
118-04.xml I-hypertension.mention           2
           O                              529
118-05.xml I-hypertension.mention           4
           O                             1505
119-01.xml O                              437
119-02.xml O                              254
119-03.xml O                              194
119-04.xml I-hypertension.mention           1
           O                              295
119-05.xml I-hypertension.mention           1
           O                              268

[80 rows x 1 columns]

In [27]:
# Get counts by labels for hypertension mention and high_bp across all test files
tdf.head(10)

   test_token test_label        file
0      record          O  110-01.xml
1        date          O  110-01.xml
2           :          O  110-01.xml
3  2069-04-07          O  110-01.xml
4         mr.          O  110-01.xml
5    villegas          O  110-01.xml
6          is          O  110-01.xml
7        seen          O  110-01.xml
8       today          O  110-01.xml
9           .          O  110-01.xml

In [29]:
tdf.to_csv('test_results_withfilenames.csv')

### Read in results from BERT Predicitons to the above dataset

The above dataset is derived from IO-Coding applied as done on the training set. This is what should be based on the annotation process. Nowe, we have to read in the predictions from bert, which is a set of class probabilities across all 3 classes and we have to merget that with the above dataset for comparison and error analysis.

In [30]:
# read in the test results captured for BERT Hypertension model and specify columns as the actual file has no header
bert_hypertension_results = pd.read_csv("bert_output_results/hypertension/bert_run1_test_results.tsv", sep='\t',header=None)
bert_hypertension_results.columns=["Class1", "Class2", "Class3"]

In [31]:
bert_hypertension_results.head(5)

     Class1    Class2    Class3
0  0.000055  0.000009  0.999937
1  0.000054  0.000008  0.999938
2  0.000189  0.000028  0.999783
3  0.000054  0.000008  0.999938
4  0.000054  0.000009  0.999937

#### Class Mappings

Class labels correspond as follows:

* Class1 --> I-hypertension.high_bp
* Class2 --> I-hypertension.mention
* Class3 --> O

In [32]:
import numpy as np

In [33]:
ntest = np.array(bert_hypertension_results)
ntest.argmax(axis=1)

array([2, 2, 2, ..., 2, 2, 2], dtype=int64)

In [34]:
ntest.shape

(23160, 3)

In [35]:
bert_hypertension_results['classLabel'] = bert_hypertension_results.idxmax(axis=1)

In [36]:
bert_hypertension_results.head(5)

     Class1    Class2    Class3 classLabel
0  0.000055  0.000009  0.999937     Class3
1  0.000054  0.000008  0.999938     Class3
2  0.000189  0.000028  0.999783     Class3
3  0.000054  0.000008  0.999938     Class3
4  0.000054  0.000009  0.999937     Class3

In [37]:
def set_labels(classlabel):
    if (classlabel=='Class1'):
        return 'I-hypertension.high_bp'
    elif (classlabel=='Class2'):
        return 'I-hypertension.mention'
    else:
        return 'O'

bert_hypertension_results['PredictedLabel'] = bert_hypertension_results['classLabel'].apply(set_labels)
bert_hypertension_results.drop('classLabel', 1, inplace=True)

In [38]:
bert_hypertension_results.head(10)

     Class1    Class2    Class3 PredictedLabel
0  0.000055  0.000009  0.999937              O
1  0.000054  0.000008  0.999938              O
2  0.000189  0.000028  0.999783              O
3  0.000054  0.000008  0.999938              O
4  0.000054  0.000009  0.999937              O
5  0.000056  0.000009  0.999935              O
6  0.000565  0.000096  0.999340              O
7  0.000057  0.000009  0.999933              O
8  0.000136  0.000023  0.999841              O
9  0.000055  0.000009  0.999936              O

In [39]:
# validating the counts by label
bert_hypertension_results['PredictedLabel'].value_counts()

O                         23097
I-hypertension.mention       47
I-hypertension.high_bp       16
Name: PredictedLabel, dtype: int64

In [40]:
test_hypertension_combined = pd.concat([tdf, bert_hypertension_results['PredictedLabel']], axis=1)

In [41]:
test_hypertension_combined.head(10)

   test_token test_label        file PredictedLabel
0      record          O  110-01.xml              O
1        date          O  110-01.xml              O
2           :          O  110-01.xml              O
3  2069-04-07          O  110-01.xml              O
4         mr.          O  110-01.xml              O
5    villegas          O  110-01.xml              O
6          is          O  110-01.xml              O
7        seen          O  110-01.xml              O
8       today          O  110-01.xml              O
9           .          O  110-01.xml              O

In [42]:
# testing (spot-checking) where model predicted labels 1 & 2
test_hypertension_combined[70:85]

,test_token,test_label,file,PredictedLabel
70,that,O,110-01.xml,O
71,he,O,110-01.xml,O
72,continues,O,110-01.xml,O
73,taking,O,110-01.xml,O
74,his,O,110-01.xml,O
75,atenolol,O,110-01.xml,O
76,for,O,110-01.xml,O
77,hypertension,I-hypertension.mention,110-01.xml,I-hypertension.mention
78,and,O,110-01.xml,O
79,1,O,110-01.xml,O
80,hydroxychloroquine,O,110-01.xml,O
81,tablet,O,110-01.xml,O
82,.,O,110-01.xml,O
83,he,O,110-01.xml,O
84,is,O,110-01.xml,O

In [43]:
test_hypertension_combined[485:495]

       test_token              test_label        file          PredictedLabel
485             .                       O  110-02.xml                       O
486             (                       O  110-02.xml                       O
487             3                       O  110-02.xml                       O
488             )                       O  110-02.xml                       O
489  hypertension  I-hypertension.mention  110-02.xml  I-hypertension.mention
490             .                       O  110-02.xml                       O
491         under                       O  110-02.xml                       O
492          good                       O  110-02.xml                       O
493       control                       O  110-02.xml                       O
494             .                       O  110-02.xml                       O

In [44]:
test_hypertension_combined[450:460]

    test_token              test_label        file          PredictedLabel
450     142/74  I-hypertension.high_bp  110-02.xml  I-hypertension.high_bp
451          .  I-hypertension.high_bp  110-02.xml                       O
452      chest                       O  110-02.xml                       O
453      clear                       O  110-02.xml                       O
454          .                       O  110-02.xml                       O
455        cor                       O  110-02.xml                       O
456          :                       O  110-02.xml                       O
457         no                       O  110-02.xml                       O
458     murmur                       O  110-02.xml                       O
459          .                       O  110-02.xml                       O

In [45]:
test_hypertension_combined[790:800]

    test_token              test_label        file          PredictedLabel
790         59                       O  110-03.xml                       O
791         bp  I-hypertension.high_bp  110-03.xml                       O
792          :  I-hypertension.high_bp  110-03.xml                       O
793     158/72  I-hypertension.high_bp  110-03.xml  I-hypertension.high_bp
794         rr                       O  110-03.xml                       O
795          :                       O  110-03.xml                       O
796         20                       O  110-03.xml                       O
797        sat                       O  110-03.xml                       O
798          :                       O  110-03.xml                       O
799         97                       O  110-03.xml                       O

### Interpreting the predictions compared against actual test labels

As seen above, BERT predictions seem very accurate and it seems to predict only after it has seen the complete context.  Also, punctuation marks are not labeled as one of the relevant classes, although a human annotator has done based on the instructions provided as part of the annotation process.